@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary-50: #b1d1e0;
    --color-primary-100: #aacdde;
    --color-primary-200: #9cc5d8;
    --color-primary-300: #8dbcd2;
    --color-primary-400: #7fb4cd;
    --color-primary-500: #70acc7;
    --color-primary-600: #6095ad;
    --color-primary-700: #517f93;
    --color-primary-800: #43697a;
    --color-primary-900: #355462;

    --color-secondary-50: #e6dde9;
    --color-secondary-100: #e3d9e7;
    --color-secondary-200: #dfd3e3;
    --color-secondary-300: #dacddf;
    --color-secondary-400: #d6c7db;
    --color-secondary-500: #d1c1d7;
    --color-secondary-600: #b5a7bb;
    --color-secondary-700: #9b8f9f;
    --color-secondary-800: #817785;
    --color-secondary-900: #d6f3e8;
}

@source '../node_modules/flowbite-svelte/dist';
@source '../node_modules/flowbite-svelte-icons/dist';

.app {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
